[Unit]
Description=Infinito.Nexus Tor egress guard
Documentation=file://{{ TOR_EGRESS_GUARD_SCRIPT }}
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ TOR_EGRESS_GUARD_SCRIPT }}

[Install]
WantedBy=multi-user.target
