{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
    {{ lookup('compose_only', 'container_name', LAM_CONTAINER) }}
    {{ lookup('container_image', application_id, 'lam') }}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.lam.ports.local.http') }}:80 
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id,
) }}

{{ lookup('compose_networks') }}
